html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: #64c025;
  padding: 0 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #64c025;
  width: 100%;
  height: 48px;
}

.logo {
  width: 82px;
  height: 20px;
}
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 30px;
}
.fa-solid.fa-bars {
  color: white;
  width: 39.33px;
  height: 34.33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.state-container {
  display: none;
}
.explore {
  display: none;
}
.input {
  display: none;
}

.slide {
  width: 100%;
}
.search-bar {
  display: none;
}
.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.category-title h1 {
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
}
.more {
  background-color: #66b530;
  border-radius: 2px;
  box-shadow: #f5e9e9 0px -2px 0px 0px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}
.fa-solid.fa-angles-right {
  font-size: 12px;
  padding-left: 5px;
}
.category-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #f8f8f8;
  margin: 20px 0 5px 0;
}
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(244, 229, 229);
}
.study {
  width: 50px;
  height: 50px;
  padding: 10px 0;
}
.list-title {
  padding-bottom: 10px;
}

.headlines-container {
  max-width: 100%;
  padding: 0 20px;
  border-top: 1px double rgb(223, 171, 171);
  padding: 20px 10px;
}
.headlines-item {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 5px;
  gap: 10px;
}
.headlines-item-line {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 5px;
  gap: 10px;
  border-top: 1px dotted rgb(240, 206, 206);
  border-bottom: 1px dotted rgb(240, 206, 206);
}
.headlines-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #64c025;
}
.headlines-content-black {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.headlines-content-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #64c025;
}
.alarm {
  width: 16px;
  height: 16px;
}
.down-icon i {
  font-size: 15px;
  color: #64c025;
}

.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.events-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 48px;
  margin: 12px 0 20px;
}

.events-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.events-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.events-nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #555555;
  margin: 0 2px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(240, 206, 206);
}

.active {
  text-decoration: none;
  font-size: 15px;
  color: #555555;
  margin: 0 2px 0 0;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-top: 2px solid #64c025;
  border-left: 1px solid rgb(240, 206, 206);
  border-right: 1px solid rgb(240, 206, 206);
  border-bottom: none;
}

.card-container {
  padding: 20px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-king {
  max-width: 100%;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
}
.card-date i {
  padding-right: 10px;
}
.check {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fefefe;
  color: black;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  margin: 6px 6px 0 0;
  border: 1px solid black;
}
.check-text {
  padding: 0 10px;
}
.check i {
  background-color: #111111;
  border-radius: 0 2px 2px 0;
  box-shadow: #000000 0px -1px 0px;
  color: #ffffff;
  font-size: 15px;
  width: 24px;
  height: 28px;
  font-weight: 700;
  line-height: 27px;
  /* padding: 6px 0 0; */
  text-align: center;
}

.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.explore-container a {
  display: flex;
  text-decoration: none;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.05);
  color: #000000;
  background-color: #f8f8f8;
  border: 1px solid black;
  padding: 10px 80px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.down {
  padding: 30px 0;
}
.down i {
  font-size: 24px;
}

/* app section */
/* .ad-container {
  background-image: url(pic/bg.jpg);
  margin-top: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.container {
  padding: 0;
}
.app-inner {
  padding: 110px 0 0 400px;
  height: 540px;
  position: relative;
}
.phone-video {
  width: 206px;
  height: 365px;
  position: absolute;
  left: 66px;
  top: 77px;
} */

.activity-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 10px; */
}

.activity-title h4 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin: 12px 0 0;
  text-align: center;
}

.activity-content {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 12px 0 25px;
  text-align: center;
}

.active-btn {
  background-color: #64c025;
  border-radius: 5px;
  box-shadow: #000000 0 0 0 0;
  display: inline-block;
  padding: 0 20px;
}

.active-btn a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
}

.cooperation-firm-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 55px;
  background-color: #474a44;
}

.container-title {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  margin: 0px 23px 20px;
}

.firm-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  padding-bottom: 60px;
}
.firm-card {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backstage {
  max-width: 72px;
  max-height: 72px;
}
.firm-name {
  display: none;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-color: #323530;
}
.service {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #999999;
}
.column-title {
  color: #999999;
  font-size: 16px;
  padding: 0 0 20px 0;
}
.column-list-container {
  display: flex;
  flex-direction: column;
}
.column-list-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.links a {
  text-decoration: none;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
@media screen and (min-width: 371px) {
  .card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .check {
    width: 100px;
    height: 30px;
  }
  .check-text {
    padding: 0;
    padding-left: 5px;
  }
}

@media screen and (min-width: 375px) {
  .column-title {
    padding-bottom: 20px;
  }
  .column-list-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 0;
  }
}
/* @media screen and (min-width: 585px) {
  .app-inner {
    padding-left: 0;
    height: auto;
    padding-bottom: 30px;
    height: 500px;
  }
} */
@media screen and (min-width: 570px) {
  .container-title {
    font-size: 28px;
    margin: 20px 23px 20px;
    line-height: 28px;
    font-weight: 700;
  }
  .firm-name {
    display: unset;
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .backstage {
    max-width: 125px;
    max-height: 125px;
  }
}

@media screen and (min-width: 769px) {
  .header-container {
    width: 100%;
    height: 40px;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  .menubar {
    display: none;
  }
  .state-container {
    display: unset;
    padding: 0 40px;
  }
  .state-container ul {
    display: flex;
    flex-direction: row;
  }
  .state-container ul a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
    padding: 0 20px;
  }
  .explore {
    display: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 20px;
  }
  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .input {
    display: unset;
    width: 120px;
    height: 34px;
    padding-left: 30px;
  }
  .search-bar {
    display: unset;
  }
  .search-bar i {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 13px;
    height: 14px;
  }
  .headlines-container {
    padding: 20px 80px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /* .ad-container {
    margin-top: 120px;
    padding-top: 300px;
  }
  .container {
    width: 96%;
    padding: 30px 0;
  }
  .app-inner {
    padding-top: 60px;
    padding-left: 48%;
    height: 500px;
  }
  .phone-video {
    left: 22px;
  } */
  .firm-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  .service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .column-list-container ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 990px) {
  .headlines-container {
    padding: 20px 30px;
  }
  .container {
    width: 760px;
  }
  /* .app-inner {
    padding-top: 60px;
    padding-left: 380px;
    height: 500px;
  } */
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .headlines-container {
    padding: 20px 30px;
  }
}
